.budget-container{

    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: #1f2937;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: white;
    
  }
  
  select{

    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    background: #2e3b55;
    color: white;

  }
  
  .budget-panel{

    margin-top: 10px;
    font-size: 15px;
    color: white;

  }
  
  .item-form{

    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    background: #2e3b55;
    color: white;

  }
  
  .item-form input{

    flex: 1;
    padding: 6px;
    font-size: 14px;
    background-color: #2e3b55;
    color: white;

  }
  
  .item-form button{

    padding: 6px 12px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  .item-list{

    list-style: none;
    padding: 0;
    background-color: #2e3b55;

  }
  
  .item-list li{

    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    background: #2e3b55;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;

  }
  
  .item-list button{

    background-color: #dc3545;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    background: #2e3b55;


  }
  