.transactions-container {
  padding: 30px;
  background-color: #111827;
  color: #ffffff;
  min-height: 90vh;
}

.transactions-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.transactions-table-wrapper {
  background-color: #1f2937;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-height: 500px;
  overflow-y: auto;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #374151;
}

th {
  background-color: #2e3b55;
  color: #cfcfcf;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:hover {
  background-color: #374151;
}
