.withraw-container {
    padding: 80px 150px;
    color: #ffffff;
    background-color: #111827;
    min-height: 60vh;
    margin-top: 50px;
    
  }

  .withraw-container h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 24px;
  }
  
  .withraw-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #1f2937;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Fix for MUI Select/Inputs on dark background */
  .withraw-form .MuiInputBase-root {
    background-color: #2e3b55;
    color: #ffffff;
  }
  
  .withraw-form .MuiInputLabel-root {
    color: #cfcfcf;
  }
  
  .withraw-form .MuiOutlinedInput-notchedOutline {
    border-color: #4b5563;
  }
  
  .withraw-form .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #4c4de6; /* Accent color */
  }
  
  .withraw-form .MuiInputLabel-root.Mui-focused {
    color: #4c4de6;
  }
  
  .withraw-form button {
    margin-top: 15px;
    align-self: flex-start;
    background-color: #10b981;
    color: black;
    font-weight: bold;
    align-self: center;
  }
  
  .withraw-form button:hover {
    background-color: #16a34a;
    color: #ffffff;
  }
  